BACKEND_DOMAIN=localhost:4000
VITE_BACKEND_URL=http://127.0.0.1:4000
VITE_ROOM_SOCKET_URL=ws://127.0.0.1:4000/room/socket
DATABASE_URL=postgres://postgres:password@localhost:5432/monopoly-deal?sslmode=disable
MIGRATION_URL=file://internal/migration
COOKIE_SECRET=secret!
IS_PRODUCTION=false
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_REDIRECT=
ACCESS_TOKEN_DURATION=24h
REFRESH_TOKEN_DURATION=271560h
FRONTEND_DOMAIN=http://127.0.0.1:5173
FRONTEND_LOGIN_ROUTE=/login
FRONTEND_LOBBY_ROUTE=/lobby
WEBSOCKET_PING_INTERVAL=30s
REDIS_HOST=localhost:6379
REDIS_PASSWORD=password
